<!-- NAVBAR -->
<div class = "section_1">
<nav class="d-flex justify-content-center align-items-end">
  <h1 class="d-flex text-left">
  <div>
    <div id="large_text" class="col-12 display-3" >
      <b>Create a <br> New Account</b>
      <div id="bottom_border"></div>
    </div>
    <div id="sub_script" class="col-7 display-6 font-weight-light" >
      For the best experience with Market Raker
    </div>
  </div>
  </h1>
</nav>

<!-- NAVPILLS -->
  <body>
  <ul class="nav nav-pills nav-justified col-12 ">
    <li class="nav-item"><a class="nav-link" routerLink="registerComponent"><b>Sign Up</b></a></li>
    <li class="nav-item"><a class="nav-link" routerLink="loginComponent" ><b>Log In</b></a></li>
  </ul>
  </body>
<!-- ROUTER OUTLET -->
  <router-outlet></router-outlet>

</div>
